/* .skin-blue .main-header .navbar{background-color : #3b5898 !important; }
.skin-blue .wrapper
{
    background-color: #3b5898;
}
.skin-blue .main-header .logo
{
    background-color: #003366;
}
@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-blue .main-header .navbar .dropdown-menu li a {
    color: inherit;
  }
  .skin-blue .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}*/
@media (max-width: 767px) {
  span.form-control {
    height: auto;
    min-height: 34px;
  }
} 
.navbar-nav > .user-menu > .dropdown-menu{
	width: inherit;
}
.toolbar{float : left;}
.scroll-box{display:block; height: 200px; overflow: hidden; overflow-y: scroll; padding : 5px; border: 1px solid #ececfb;}
.input-group{margin-bottom:10px;}
.input-group .input-group-addon {
    border-radius: 0;
    border-color: #d2d6de;
    background-color: #ececfb;
}
tr.skip, tr.skip th, tr.skip td, tr.skip td a, a.skip, a.skip:hover {
    color: gray;
    font-weight: normal;
    text-decoration: line-through;
}
.no-margin{
	margin :0px !important;
}

.redactor-toolbar{
	background: #eeeeee !important;
}