﻿ @font-face {font-family:"Source Sans Pro";src:url("SourceSansPro-Light.eot?") format("eot"),url("SourceSansPro-Light.woff") format("woff"),url("SourceSansPro-Light.ttf") format("truetype"),url("SourceSansPro-Light.svg#SourceSansPro-Light") format("svg");font-weight:normal;font-style:normal;}
